ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    margin: 10px;
}

.navbar1{
    display:flex;
    
}
.navbartopleft{
    display:flex;
    margin-right: auto;
   
}

.navbartopright{
    display: flex;
    margin-left: auto;
}

.center{
    position: relative;
    display: flex;
    margin: auto auto auto auto;
    justify-content: center;

}

.searchbar{
    display:flex;
    justify-content: center;

}

.buttons{
    display:flex;
    justify-content: center;

}

.navbar2{
    display:flex;
    border: solid rgb(218, 218, 218);
    background-color: rgb(218, 218, 218);
}

.navbarbottomleft{
    display:flex;
    margin-right: auto;
}

.navbarbottomright{
    display:flex;
    margin-left: auto;
}
  